#AL
*.app
.alpackages/
.snapshots/
.alcache/
.altemplates/
launch.json
rad.json

#VS Code
.vscode/launch.json
.vscode/.alcache/
.vscode/.altemplates/

#Other
.DS_Store
Thumbs.db
*.bak

# AL-Go for GitHub build artifacts
*.app
*.flf
*.bclicense
*.g.xlf
TestResults*.xml
bcptTestResults*.json
BuildOutput.txt
rad.json
.output/
.dependencies/
.buildartifacts/
.packages/
.alpackages/
.alcache/
.altemplates/
.altestrunner/
.snapshots/
cache_*
~$*
